# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
